.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body {
    background-color: #efefef;
}

*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: normal;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.topNav {
    position: fixed;
    width: 100%;
    padding: 5px 0 20px 0;
    transition: all 0.3s;
    z-index: 1;
    color: #c2c4c6;
}

.topNav.activity {
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(200, 200, 200, 0.6);
    padding: 0 0 15px 0;
    color: #3d4451;
}

.topNav .logo {
    float: left;
    padding-top: 17px;
    padding-left: 15px;
}

.topNav .logo .RS {
    color: #e5686e;
    font-size: 22px;
    font-family: 'Arial Black';
}

.topNav .logo .card {
    color: #9a9da2;
    font-size: 22px;
    font-family: 'Arial Black';
}

.topNav ul {
    float: right;
    padding-top: 20px;
}

.topNav ul li {
    float: left;
    list-style: none;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
}

.topNav ul li a {
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 3px solid transparent;
    position: relative;
}

.topNav ul li .menuList {
    padding-top: 0;
    position: absolute;
    left: 0;
    top: 110%;
    width: 100%;
    display: none;
    background: white;
    padding: 10px 20px 10px 0px;
    box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.6);
}

.topNav ul li .menuList.menuActiviyt {
    display: block;
    animation: menuMove 0.3s linear;
}

@keyframes menuMove {
    0% {
        left: -100%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

.topNav ul li .menuList li {
    white-space: nowrap;
    margin-top: 10px;
}

.topNav ul li .menuList li:hover {
    cursor: pointer;
}

.topNav ul li:hover a::after,
.topNav ul li.highLight a::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 100%;
    height: 3px;
    width: 100%;
    background: #e6686e;
    animation: menuTra 0.2s linear;
}

@keyframes menuTra {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.banner {
    background-image: url(./Img/bg.jpg);
    height: 515px;
    /* 居中 */
    background-position: center center;
    /* 背景图片自适应 */
    background-size: cover;
}

.banner .mask {
    background-color: rgba(0, 0, 0, 0.8);
    height: 515px;
}

.userCard {
    max-width: 930px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 1px 1px 11px 3px rgba(0, 0, 0, 0.24);
}

.userCard .pictureAndText .picture {
    float: left;
    margin-top: 56px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.userCard .pictureAndText .picture img {
    width: 294px;
    height: 318px;
}

.userCard .pictureAndText .text {
    float: left;
    padding-top: 56px;
    margin-left: 65px;
}

.userCard .pictureAndText .text .welcome {
    padding: 4px 12px;
    background-color: #e6686e;
    color: white;
    position: relative;
    font-weight: bold;
}

.userCard .pictureAndText .text .welcome .triangle {
    border: 10px solid transparent;
    width: 0px;
    height: 0px;
    border-top: 0px;
    border-left-color: #e6686e;
    position: absolute;
    left: 5px;
}

.userCard .pictureAndText .text h1 {
    margin-top: 25px;
    color: #3d4451;
}

.userCard .pictureAndText .text p {
    color: #3d4451;
}

.userCard .pictureAndText .text hr {
    margin: 23px 0;
    background-color: #dedede;
    border-width: 0px;
    height: 1px;
    width: 471px;
}

.userCard .pictureAndText .text dt {
    /*chrome和firefox的dt和dl默认高度不一样，统一一下高度，以免错位*/
    line-height: 32px;
    float: left;
    width: 30%;
    font-weight: bold;
    padding: 5px 0;
    /* border: 1px solid green; */
    box-sizing: border-box;

}

.userCard .pictureAndText .text dd {
    line-height: 32px;
    float: left;
    width: 70%;
    color: #9da0a7;
    padding: 5px 0;
    /* border: 1px solid blue; */
    box-sizing: border-box;

}

.userCard .media {
    background-color: #e6686e;
    text-align: center;
    padding: 15px 0;
}

.userCard .media a {
    display: inline-block;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    margin: 0 15px;
}

.userCard .media a:hover {
    background-color: #cf5d63;
}

.userCard .media svg {
    width: 20px;
    height: 20px;
    fill: white;
    /* 解决图标上面少，下面多的问题 */
    vertical-align: top;
    padding: 10px 0;
}

body > main {
    margin-top: -350px;
}

body > main .downloadResumeWrapper {
    text-align: center;

}

body > main .downloadResumeWrapper .downloadResume {
    padding: 21px 55px;
    border: 1px solid #cbcdcf;
    border-radius: 3px;
    display: inline-block;
    margin: 32px auto;
    color: #3e4450;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease;
}

body > main .downloadResumeWrapper .downloadResume:hover {
    box-shadow: 0px 6px 13px 3px rgba(0, 0, 0, 0.23);
}

body main .selfIntroduction {
    max-width: 930px;
    text-align: center;
    font-size: 14px;
    font-family: kai;
    margin: 10px auto;
}

.skills {
    text-align: center;
    max-width: 930px;
    margin: 0 auto;
    margin-top: 150px;
}

.skills h2 {
    font-weight: bold;
    font-size: 30px;
}

.skills .skillWrapper {
    margin-top: 32px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.38);
}

.skills .skillWrapper ol {
    list-style: none;
    padding: 42px 50px 8px 50px;
}

.skills .skillWrapper ol li {
    font-size: 13px;
    color: #424855;
    float: left;
    width: 50%;
    /* 宽度会把border还有padding这些算入width里面 */
    box-sizing: border-box;
    padding-right: 40px;
}

/* 偶数 */
.skills .skillWrapper ol li:nth-child(even) {
    float: right;
}

.skills .skillWrapper ol li .bar {
    height: 5px;
    background-color: #fae1e2;
    margin-bottom: 38px;
    border-radius: 2px;
    margin-top: 5px;
    overflow: hidden;
}

.skills .skillWrapper ol li .bar .barProccess {
    height: 100%;
    background-color: #e6686e;
    border-radius: 2px;
}


@keyframes animation0 {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
@keyframes animation1 {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}
@keyframes animation2 {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}
@keyframes animation3 {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}
@keyframes animation4 {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}
@keyframes animation5 {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}

.skills .skillWrapper ol li .bar .barProccess,
.skills .skillWrapper ol li .bar .barProccess.activie0 {
    width: 90%;
    animation: animation0 linear 0.3s;
}
.skills .skillWrapper ol li .bar .barProccess.activie1 {
    width: 70%;
    animation: animation1 linear 0.3s;
}
.skills .skillWrapper ol li .bar .barProccess.activie2 {
    width: 70%;
    animation: animation2 linear 0.3s;
}
.skills .skillWrapper ol li .bar .barProccess.activie3 {
    width: 60%;
    animation: animation3 linear 0.3s;
}
.skills .skillWrapper ol li .bar .barProccess.activie4 {
    width: 80%;
    animation: animation4 linear 0.3s;
}
.skills .skillWrapper ol li .bar .barProccess.activie5 {
    width: 85%;
    animation: animation5 linear 0.3s;
}

.portfolio {
    max-width: 930px;
    margin: 150px auto;
    text-align: center;
}

.portfolio h2 {
    font-weight: bold;
    font-size: 30px;
}

.portfolio .proccessWrapper {
    margin-top: 40px;
}

.portfolio .proccessWrapper ol {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.portfolio .proccessWrapper li {
    float: left;
    margin-left: 80px;
    font-size: 16px;
    cursor: pointer;
}

.portfolio .proccessWrapper li:nth-child(1) {
    margin-left: 0px;
}

.portfolio .proccessWrapper .bar {
    height: 5px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 15px;
    width: 290px;
    border-radius: 2px;
}

.portfolio .proccessWrapper .bar .barProccess1.state1 {
    height: 100%;
    background: #d67071;
    width: 33px;
    border-radius: 2px;
    transition: all 0.3s;
}

.portfolio .proccessWrapper .bar .barProccess1.state2 {
    height: 100%;
    background: #d67071;
    width: 34px;
    border-radius: 2px;
    margin-left: 112px;
    transition: all 0.3s;
}

.portfolio .proccessWrapper .bar .barProccess1.state3 {
    height: 100%;
    background: #d67071;
    width: 64px;
    border-radius: 2px;
    margin-left: 226px;
    transition: all 0.3s;
}

.portfolio .portfolioPictrue {
    height: 569px;;
    margin-top: 30px;
    position: relative;
}

.portfolio .portfolioPictrue .jb1 {
    background-image: url(./Img/jb1.jpg);
    height: 569px;
    width: 607px;
    position: absolute;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.19);
}

.portfolio .portfolioPictrue .jb2 {
    background-image: url(./Img/jb2.jpg);
    height: 273px;
    width: 289px;
    position: absolute;
    left: 637px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.19);
}

.portfolio .portfolioPictrue .jb3 {
    background-image: url(./Img/jb3.jpg);
    height: 273px;
    width: 289px;
    position: absolute;
    left: 637px;
    top: 297px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.19);
}
.JobScrollerWrapper .swiper-container {
    max-width: 800px;
    height: 600px;
    padding-top: 40px;
    z-index: 0;
}
.JobScrollerWrapper .swiper-slide{
    background: white;
}
.JobScrollerWrapper .swiper-pagination-bullet-active{
    background: #d67071;
}
.JobScrollerWrapper .swiper-button-prev,
.JobScrollerWrapper .swiper-button-next{
    border: none;
    outline: none;
    z-index: 0;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.JobScrollerWrapper .swiper-button-prev{
    position: relative;
    top: -300px;
    left: auto;
    right: 30px;
}
.JobScrollerWrapper .swiper-button-next{
    position: relative;
    right: auto;
    left: 97%;
    top: -338px;

}
.Message{
    max-width: 930px;
    margin: 130px auto;
    text-align: center;
}
.Message ol{
    list-style: none;
    background: #ddd;
    margin-top: 30px;
    border-radius: 6px;
    border: 1px solid grey;
    border-bottom: none;
}
.Message ol li{
    padding: 20px;
    border-bottom: 1px solid grey;
    text-align: left;
}
.Message h2 {
    font-weight: bold;
    font-size: 30px;
}
.Message #sendMessageForm{
    margin-top: 30px;
}

