body{
    position: relative;
}
*{
    padding: 0;
    margin: 0;
}
.clearfix{
    content: '';
    display: block;
    clear: both;
}
ol,ul{
    list-style: none;
}
ol{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px 20px;
}
ol li{
  float: left;
  padding: 0px 10px;
}
svg{
    width: 1.5em;
    height: 1.5em;
}
#canvas{
    background: white;
    position: absolute;
}
.tool{
    position: absolute;
    left: 0px;
    bottom: 0px;
}