*{
    padding: 0;
    margin: 0;
}
.wind{
    width: 500px;
    margin: 100px auto;
    overflow: hidden;
}
.wind .images{
    position: relative;
    width: 500px;
    height: 400px;
}
.wind .images img{
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    transition: all 0.3s;
}
.wind .images img.enter {
    transform: translateX(0);
    z-index: 1;
}
.wind .images img.leave {
    transform: translateX(-100%);
}
.wind .images img.stac {
    transform: translateX(100%);
}
.page {
    position: relative;
    width: 500px;
    height: 22px;
    margin: -90px auto;
}
.page span:hover{
    cursor: pointer;
}
.page span:nth-child(1){
    position: absolute;
    left: 0;
    top: 0;
}
.page span:nth-child(2){
    position: absolute;
    right: 0;
    top: 0;
}