.window{
    width: 300px;
    overflow: hidden;
    margin: auto;
}
.window .bannerWrapper{
    display: flex;
    align-items: start;
    transition: all 0.5s;
}
.window .bannerWrapper img{
    vertical-align: top;
}
.window>div>span:hover{
    cursor: pointer;
}
.red{
    color: red;
}

