*{margin: 0;padding: 0;}
.token.selector,
.token.comment,
.token.property
{
    color: black;
}
body{
    padding:15px;
}
#code-wrapper{
    height: 100vh;
    /*自动滚动*/
    display: flex;
}
#code{
    width: 100%;
    overflow: hidden;
}
